# Prod-only values (empty template). Copy to `.env.prod.local` and fill in.
API_ARTIFACT_VERSION_PROD=
GOOGLE_CLIENT_ID_PROD=
GOOGLE_CLIENT_SECRET_NAME_PROD=
OAUTH_CALLBACK_URLS_PROD=
OAUTH_LOGOUT_URLS_PROD=
CORS_ALLOW_ORIGINS_PROD=

# Optional (if you want to override default Cognito domain prefix)
USER_POOL_DOMAIN_PREFIX_PROD=
